/settings/settings_live.py
/.idea
/venv
core/__pycache__/
apps/__pycache__/
apps/cms/__pycache__/
apps/jobs/__pycache__/
apps/jobs/scrappers/__pycache__/
.mypy_cache/
settings/__pycache__/
.ipynb_checkpoints
/apps/jobs/fpl/.ipynb_checkpoints/