asgiref==3.2.10
beautifulsoup4==4.9.3
Django==3.1.2
django-extensions==3.0.9
django-stubs==1.6.0
mypy==0.782
mypy-extensions==0.4.3
mysqlclient==2.0.1
pytz==2020.1
selenium==3.141.0
soupsieve==2.0.1
sqlparse==0.3.1
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.26.2
